* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
main {
    max-width: 120rem;
    margin: 0 auto;
}
.hero {
    display: grid;
    grid-template-columns:minmax(30rem, 2fr) 3fr;
    grid-auto-rows: 55rem;
    border-bottom: 0.1rem solid #ddd;
}
.hero__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info { 
    align-self: center;
}
.info__title {
    color: #333;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2.4rem;
}
.info__subtitle {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 2.4rem;
}
.info__buttom {
    border: none;
    border-radius: 2rem;
    color: #333;
    background-color: #fb8c00;
    font-weight: bolder;
    padding: 1.2rem 2.4rem;
}
.dishes {
    margin: 10rem 0;
}
.dishes__title {
    color: #333;
    font-weight: bold;
    text-align: center ;
    margin-bottom: 5rem;
    font-size: 2rem;
}
.dishes__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 20rem));
    grid-auto-rows: 1fr;
    gap: 2.5rem;
    justify-content: center;
}
.dishes .dishes__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishes__item--big {
    grid-area: 1 / 1 / 3 / 3;
}
.menu {
    margin-bottom: 20rem;
}
.menu__title {
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5rem;
}
.menu__grid {
    display: grid;
    gap: 2.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 15rem);
}
.menu__grid-item {
    background-color: coral;
    padding: 1.5rem;
    border-top-left-radius: 4rem;
}
.menu__grid-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: minmax(30rem, 50rem);
        justify-content: center;
    }
    .hero__image {
        display: none;
    }
    .dishes__grid {
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 10rem));
    }
}